## ide
**/.idea
*.iml

## backend
**/target
**/logs
api/jeecg-boot-base-common/target/*.*

## front
**/*.lock
teaching-open.code-workspace
.vscode/settings.json

dist/
sample/
*.DS_Store

## data
deploy/data
